@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=================================*/
body {
  height: 100%;
  font-family: Lato;
  background-color: #ffffff;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.container-readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.readmore {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding: 12px;
  width: 128px;
  text-transform: uppercase;
}

.title {
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}

@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 460px) {
  .title {
    font-size: 30px;
  }
}

.line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line-container__body {
  background-color: black;
  height: 1px;
  width: 100px;
}

.text {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #7d7d7d;
}

.bold-text {
  font-weight: 700;
  color: black;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-item {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
}

.navigation-item__link {
  display: inline-block;
  color: #606060;
  -webkit-transition: color 1s ease, -webkit-transform 250ms ease;
  transition: color 1s ease, -webkit-transform 250ms ease;
  -o-transition: color 1s ease, transform 250ms ease;
  transition: color 1s ease, transform 250ms ease;
  transition: color 1s ease, transform 250ms ease, -webkit-transform 250ms ease;
}

.navigation-item__link:hover {
  -webkit-transition: color 250ms ease, -webkit-transform 250ms ease;
  transition: color 250ms ease, -webkit-transform 250ms ease;
  -o-transition: color 250ms ease, transform 250ms ease;
  transition: color 250ms ease, transform 250ms ease;
  transition: color 250ms ease, transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #c49f3a;
}

.form-send {
  width: 45%;
}

.form-send input {
  font-size: 16px;
  padding: 0px 10px;
  width: 100%;
  height: 35px;
  background-color: #f8f7f7;
  border-top: 0.5px solid black;
  -webkit-transition: border 100ms ease;
  -o-transition: border 100ms ease;
  transition: border 100ms ease;
}

.form-send input:focus {
  border-top: 1.5px solid #c49f3a;
  -webkit-transition: border 100ms ease;
  -o-transition: border 100ms ease;
  transition: border 100ms ease;
}

@media (max-width: 750px) {
  .form-send {
    width: 100%;
    height: 45px;
    margin: 17px 0px 25px 0px;
  }
}

.form-areasend textarea {
  font-size: 16px;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  max-width: 100%;
  min-width: 100%;
  max-height: 110px;
  min-height: 110px;
  background-color: #f8f7f7;
  border-top: 0.5px solid black;
  -webkit-transition: border 100ms ease;
  -o-transition: border 100ms ease;
  transition: border 100ms ease;
}

.form-areasend textarea:focus {
  border-top: 1.5px solid #c49f3a;
}

.counterHolder {
  position: relative;
  margin-bottom: 40px;
}

.txtCounter {
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.txtCounter--active {
  opacity: 0.9;
  display: block;
}

.send-button {
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.send-button__button {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: white;
  color: #000000;
  -webkit-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
}

.send-button__button:hover {
  color: #c49f3a;
}

.home {
  min-height: 100vh;
  width: 100%;
  padding: 15vh 0px 15vh 0px;
  background: url(../img/home/background.png) 0 0/auto 110% no-repeat;
  background-position: top;
  -webkit-animation-name: background-brightness;
          animation-name: background-brightness;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes background-brightness {
  from {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes background-brightness {
  from {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.home__logo {
  -webkit-transform: translate(0px, -40px);
      -ms-transform: translate(0px, -40px);
          transform: translate(0px, -40px);
  max-width: 195px;
  height: 123px;
  margin: 0px auto;
  margin-bottom: 10vh;
  -webkit-animation-name: opacity-logo;
          animation-name: opacity-logo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@media (max-height: 1000px) {
  .home__logo {
    margin-bottom: 5vh;
  }
}

@media (max-width: 460px) {
  .home__logo {
    max-width: 160px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__logo img {
    width: 150px;
    height: auto;
  }
}

@-webkit-keyframes opacity-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home__title {
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
  margin-bottom: 1vh;
  -webkit-animation-name: translator-title;
          animation-name: translator-title;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes translator-title {
  from {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes translator-title {
  from {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 460px) {
  .home__title {
    font-size: 30px;
  }
}

@media (max-width: 415px) {
  .home__title {
    font-size: 27px;
  }
}

.home__subTitle {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.15em;
  color: #ffffffc0;
  padding-bottom: 45px;
  -webkit-animation-name: translator-subTitle;
          animation-name: translator-subTitle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media (max-width: 992px) {
  .home__subTitle {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .home__subTitle {
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  .home__subTitle {
    font-size: 18px;
  }
}

@-webkit-keyframes translator-subTitle {
  from {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes translator-subTitle {
  from {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home__line-container {
  margin-bottom: 25vh;
  height: 2px;
}

@media (max-height: 910px) {
  .home__line-container {
    margin-bottom: 20vh;
  }
}

@media (max-height: 780px) {
  .home__line-container {
    margin-bottom: 15vh;
  }
}

.home__line-body {
  background-color: #ffffff;
  -webkit-animation-name: translator-line;
          animation-name: translator-line;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes translator-line {
  from {
    opacity: 0;
    width: 50%;
  }
  to {
    opacity: 1;
    width: 100px;
  }
}

@keyframes translator-line {
  from {
    opacity: 0;
    width: 50%;
  }
  to {
    opacity: 1;
    width: 100px;
  }
}

.home__container-readmore {
  margin-bottom: 75px;
  -webkit-animation-name: opacity-readmore;
          animation-name: opacity-readmore;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes opacity-readmore {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-readmore {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home__readmore {
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: background-color 150ms ease;
  -o-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-animation-name: flash-readmore;
          animation-name: flash-readmore;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.home__readmore:hover {
  background-color: #ffffff20;
}

.home__readmore:active {
  background-color: #ffffff05;
}

@-webkit-keyframes flash-readmore {
  from {
    background-color: #ffffff00;
  }
  25% {
    background-color: #ffffff14;
  }
  50% {
    background-color: #ffffff00;
  }
  75% {
    background-color: #ffffff14;
  }
  to {
    background-color: #ffffff00;
  }
}

@keyframes flash-readmore {
  from {
    background-color: #ffffff00;
  }
  25% {
    background-color: #ffffff14;
  }
  50% {
    background-color: #ffffff00;
  }
  75% {
    background-color: #ffffff14;
  }
  to {
    background-color: #ffffff00;
  }
}

.home__arrow {
  padding: 5px;
  display: block;
  max-width: 30px;
  margin: 0px auto;
  -webkit-animation-name: opacity-arrow;
          animation-name: opacity-arrow;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes opacity-arrow {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-arrow {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home__arrow img {
  max-width: 20px;
  height: 12px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: arrowMove;
          animation-name: arrowMove;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes arrowMove {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes arrowMove {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.menu {
  padding: 10px 0px 10px 0px;
  min-height: 58px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fffffff8;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.285);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.285);
}

.menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin: 0px 15px;
}

@media (max-width: 460px) {
  .menu__item {
    font-size: 14px;
    margin: 0px 10px;
  }
}

@media (max-width: 370px) {
  .menu__item {
    font-size: 13px;
  }
}

.menu__link {
  display: inline-block;
  color: #606060;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__link:hover {
  -webkit-transition: color 250ms ease, border-bottom 250ms ease;
  -o-transition: color 250ms ease, border-bottom 250ms ease;
  transition: color 250ms ease, border-bottom 250ms ease;
  border-bottom: 2px solid #606060;
}

.menu__link--active {
  z-index: 2;
  color: #c49f3a;
  -webkit-transition: border-bottom 250ms ease;
  -o-transition: border-bottom 250ms ease;
  transition: border-bottom 250ms ease;
  border-bottom: 2px solid  #c49f3a;
}

.menu__link--active:hover {
  border-bottom: 2px solid  #c49f3a;
}

.about {
  background-color: white;
  position: relative;
}

.about__body {
  max-width: 830px;
  margin: 0px auto;
  padding: 150px 0px 150px 0px;
}

.about__title {
  padding-bottom: 30px;
}

.about__line-container {
  margin-bottom: 30px;
}

.about__text {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 100px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__cols {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  text-align: center;
  padding: 20px 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.about__item-icon {
  margin: 0px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__item-title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 30px 0px 30px 0px;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 150px 0px 150px 0px;
}

.portfolio__title {
  padding-bottom: 30px;
}

.portfolio__line-container {
  margin-bottom: 30px;
}

.portfolio__navigation {
  background-color: #f3f3f3;
  margin: 0 0 30px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.portfolio__elements {
  margin: 0px 30px;
}

@media (max-width: 460px) {
  .portfolio__elements {
    margin: 0px 15px;
  }
}

.portfolio__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 20px;
  margin-bottom: 100px;
}

@media (max-width: 460px) {
  .portfolio__images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.portfolio__image {
  cursor: pointer;
  opacity: 0.95;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  transition: -webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -o-transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, -webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.portfolio__image img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.516);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.516);
}

.portfolio__image:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.portfolio__readmore {
  border: 1px solid black;
  color: black;
  -webkit-transition: background-color 150ms ease;
  -o-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

.portfolio__readmore:hover {
  background-color: #4747470b;
}

.portfolio__readmore:active {
  background-color: #1e1e1e24;
}

.partners {
  height: auto;
  background-image: url(../img/partners/background.jpg);
  background-position: bottom;
  padding: 50px 0px;
}

@media (max-width: 380px) {
  .partners {
    padding: 30px 0;
  }
}

.partners__title {
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}

.partners__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.partners__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 450px) {
  .partners__company {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 350px) {
  .partners__company {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.partners a {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  -o-transition: filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.partners a:hover {
  -webkit-transition: -webkit-filter 150ms ease;
  transition: -webkit-filter 150ms ease;
  -o-transition: filter 150ms ease;
  transition: filter 150ms ease;
  transition: filter 150ms ease, -webkit-filter 150ms ease;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.contact {
  background-color: white;
  padding: 150px 0px 150px 0px;
}

@media (max-width: 450px) {
  .contact {
    padding: 40px 0px 50px 0px;
  }
}

.contact__title {
  padding-bottom: 40px;
}

.contact__line-container {
  margin-bottom: 40px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 450px) {
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__leftside {
  position: relative;
  width: 45%;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}

@media (max-width: 450px) {
  .contact__leftside {
    width: 90%;
    margin: 0px 0px 50px 0px;
  }
}

.contact__name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__name-email input {
  margin: 10px 0px 30px 0px;
}

@media (max-width: 750px) {
  .contact__name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

.contact__rightside {
  width: 45%;
}

@media (max-width: 750px) {
  .contact__rightside {
    padding: 35px 0 0 0;
  }
}

@media (max-width: 450px) {
  .contact__rightside {
    width: 90%;
  }
}

.contact__info-body {
  max-width: 255px;
}

.contact__manager-text {
  margin: 0px 0px 40px 0px;
}

.contact__manager-name {
  margin: 0px 0px 23px 0px;
}

.contact__manager-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 12px 0px;
}

.contact__link {
  display: block;
  margin: 0px 12px 0px 0px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 150ms ease;
  -o-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
}

.contact__link:hover {
  border-color: #c49f3a;
}

.active-label {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #c49f3a;
}

.footer {
  background-color: #3c3c3c;
  padding: 50px 0px;
}

.footer__logo {
  max-width: 122px;
  height: 78px;
  margin: 0px auto;
  margin-bottom: 25px;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  -webkit-transition: -webkit-filter 150ms ease;
  transition: -webkit-filter 150ms ease;
  -o-transition: filter 150ms ease;
  transition: filter 150ms ease;
  transition: filter 150ms ease, -webkit-filter 150ms ease;
}

.footer__logo:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.footer__navigation {
  margin: 0px auto;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3c3c3c;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
  margin-bottom: 30px;
}

.footer__link {
  color: #838383;
  -webkit-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
}

.footer__link:hover {
  color: #6a6a6a;
}

.footer__allrights {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

.popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, background-color 0.3s ease;
  -o-transition: opacity 0.3s ease, background-color 0.3s ease;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.popup__wrapper {
  height: 85%;
  max-width: 50%;
  width: auto;
  position: relative;
}

@media (max-width: 1200px) {
  .popup__wrapper {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .popup__wrapper {
    max-width: 80%;
  }
}

@media (max-width: 500px) {
  .popup__wrapper {
    max-width: 90%;
  }
}

.popup__wrapper::after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
  background: -o-linear-gradient(rgba(255, 255, 255, 0), white);
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.popup__body {
  padding: 1%;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.365);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.365);
  overflow: scroll;
}

.popup__content {
  padding-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.popup__image {
  padding: 20px 20px 20px 20px;
  width: 80%;
  opacity: 0.95;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .popup__image {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .popup__image {
    width: 95%;
  }
}

.popup__image--disable {
  display: none;
}

.popup__header {
  font-size: 34px;
  padding: 15px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .popup__header {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .popup__header {
    font-size: 28px;
  }
}

.popup__text {
  padding-bottom: 40px;
  text-align: center;
  width: 70%;
  color: black;
}

@media (max-width: 1000px) {
  .popup__text {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .popup__text {
    width: 90%;
  }
}

.activePopup {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.285);
}
